.pokemon {
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemonList {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;  
    color: ghostwhite;
}

/* if i select all li elements inside .pokemonList then it will apply those styles to all items even those inside .detailsPoke, so I need to specify that those styles only apply to the "bigger" li, the ones that i gave a class based on plant type etc. because of that, i decide to give it another class (pokemon) so the rules here doesnt apply to all li*/

.detail {
    display: flex;
    flex-direction: row;
    /* margin: 0; */
    align-items: center;
    justify-content: space-between;
}

.detail img {
    max-width: 100%;
    height: 70px;
    /* align-self: flex-end; */
}

.number {
    color: rgba(245, 245, 245, 0.5);;
    text-align: right;
    font-size: .80rem;
}

.name {
    align-self: flex-start;
    margin: .25rem 0;
}

.types {
    padding: 0;
    margin: 0;
    list-style: none;
} /*this style cant be done to the li, but the ol.*/

/* i dont know why but if i put the parent class before the class of the element i'm styling, the styles wont work... .detailsPoke .typePoke =/= .typePoke*/

.type {
    background-color: rgba(245, 245, 245, 0.3);
    padding: .25rem .5rem;
    margin: .25rem .1rem;
    border-radius: .5rem;
    font-size: .75rem;
    filter: brightness(1.1);
}

.normal {
    background-color: #BCB9BD;
}

.grass {
    background-color: #8FC85A;
}

.bug {
    background-color: #A5B424;
}

.fire {
    background-color: #DA390F;
}

.ghost {
    background-color: #5E64AB;
}

.dragon {
    background-color: #756FD3;
}

.rock {
    background-color: #B29B58;
}

.steel {
    background-color: #BCB9BD;
}

.poison {
    background-color: #8D468B;
}

.dark {
    background-color: #513622;
}

.fairy {
    background-color: #EFB8F0;
}

.electric{
    background-color: #F8BC28;
}

.fighting {
    background-color: #823425;
}

.psychic {
    background-color: #DF497B;
}

.ice {
    background-color: #ADE2FB;
}

.water {
    background-color: #3892EC;
}

.flying {
    background-color: #99A6ED;
}

.ground {
    background-color: #CEB360;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    color: white;
    background-color: #BCB9BD;
    border: none;
    border-radius: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 1rem auto;
    }
}

@media screen and (min-width: 480px) {
    .pokemonList {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 768px) {
    .pokemonList {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemonList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
